html{
    box-sizing: border-box;
}
#logo{
    height: 50px;
    padding-left: 5%;
}
header {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    height: 90%;
    margin-right: 120px;
  }
  nav > ul > li {
    color: #fd2f68;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
  }
  #homeLink, #menuLink{
    text-decoration: none;
    color: #fd2f68;
  }
  #contactLink{
    text-decoration: none;
    border-bottom: 4px solid #dfdfe2;
    color: #dfdfe2;
  }

  .container{
    display: flex;
    width: 100%;
    height: 100vh;

  }
  .brand{
    margin-left: -8px;
  }
  .brand > img, iframe{
    height: 100vh;
  }
  iframe{
    width: 105vh;
  }
  .map{
    position: absolute;
    margin-left: 48%;
  }

  #footer{
    background-color: black;
    margin: -8px;
    color: white;
    font-family: 'Secular One', sans-serif;
    display: flex;
    gap: 20%;
  }
  .FindUs > ul{
    list-style: none;
    margin-left: -37px;
  }
  .FindUs > h2, .OpenHours > h2, .SocialMedia > h2{
    border-bottom: 2px solid #fd2f68;
  }
  .fa-solid{
    color: white;
    margin-right: 10px;
  }
  .OpenHours > ul{
    list-style: none;
    margin-left: -37px;
  }
  .OpenHours > ul > li{
    font-size: 20px;
  }
  .fa-square-facebook, .fa-square-instagram, .location{color: white;}
  .fa-square-facebook, .fa-square-instagram{
    font-size: 50px;
  }
  .fa-square-facebook:hover, .fa-square-instagram:hover{
    color: #fd2f68;
  }
  .fa-square-facebook{
    margin-right: 20px;
    margin-left: 20px;
  }
  .FindUs{
    margin-left: 5%;
  }
